[submodule "ghostty"]
	path = ghostty
	url = https://github.com/manaflow-ai/ghostty.git
	branch = main
[submodule "homebrew-mosaic"]
	path = homebrew-mosaic
	url = https://github.com/manaflow-ai/homebrew-cmux.git
