[submodule "ghostty"]
	path = ghostty
	url = https://github.com/emergent-inc/ghostty.git
	branch = main
[submodule "homebrew-cmux"]
	path = homebrew-cmux
	url = https://github.com/emergent-inc/homebrew-cmux.git
